.tela-principal {
  width: 100vw;
  min-height: 100vh;

  padding-top: var(--padding-navbar);
  background-color: var(--cor-fundo1);
  display: flex;

  justify-content: center;
}

.container {
  width: 95%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.titulo-criar {
  font-size: x-large;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}

/*========================== 
Padrões 1 - 2
============================*/

.padrao1 {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.padrao2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*========================== 
Elemento 1 - 2 - 3
============================*/

.elmt-1-2-3 {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

/*========================== 
Elemento 1 ( Seleção de Imagem )
============================*/

.selecionar-imagem {
  height: 45vh;
  height: 45dvh;
  width: 47vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cor-branca-100);
  border: 2px solid var(--cor-preta-900);
  border-radius: 30px;

  position: relative;
}

.file-imagem {
  width: 3vw;

  border-radius: 50%;
  border: 2px solid var(--cor-preta-900);
  background-color: var(--cor-branca-100);

  aspect-ratio: 1 / 1;

  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  position: absolute;
}
.file-imagem:hover {
  background-color: var(--cor-verde-200);
}

.area-botoes-imagem {
  display: flex;
  justify-content: end;
  align-items: end;

  height: 100%;
  width: 100%;
}

.imagem-central {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  height: 2rem;
}

.imagem-ilustrativa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  position: absolute;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
/*========================== 
Elemento 2 ( Tempo e Cyndaquil )
============================*/

.selecionar-tempo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cronometro {
  width: 10vw;

  margin-top: 1rem;

  cursor: pointer;

  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 2px solid var(--cor-preta-900);

  aspect-ratio: 1 / 1;
  background-color: var(--cor-branca-100);
}

.cronometro:hover {
  transform: rotate(20deg);
}

.cyndaquill-imagem {
  height: 15vh;
}

/*========================== 
Elemento 3 ( Pergunta )
============================*/

.fazer-pergunta {
  height: 45dvh;
  width: 20vw;

  border: 2px solid var(--cor-preta-900);
  border-radius: 30px;

  background-color: var(--cor-branca-100);

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-ia {
  position: absolute;
  bottom: 0.3rem;
  width: 95%;
}

.pergunta {
  border: 2px solid;
  border-radius: 15px;
  width: 100%;
  max-height: 10vh;

  font-size: larger;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.preview-pergunta {
  margin: 1rem;
  text-align: center;
}

/*========================== 
Elemento 4 - 5
============================*/

.elmt-4-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;

  margin-top: 2rem;
  width: 93%;
}

/*========================== 
Elemento 4  ( alternativas )
============================*/

.alternativas {
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  display: grid;

  width: 75%;
  scrollbar-width: auto;
  margin-right: 3rem;
}

.botao-alt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0.8rem;
  background: white;
  border: 2px solid black;
  border-radius: 10px;

  width: 100%;

  font-size: larger;
}

.certa {
  margin-left: 10px;
  background-color: var(--cor-verde-200);
  border: 3.5px solid var(--cor-preta-900);
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errada {
  margin-right: 10px;
  background-color: var(--cor-vermelho-300);
  border: 3.5px solid var(--cor-preta-900);
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resposta {
  border: 2px solid;
  width: 20vw;
  font-size: larger;
}

/*========================== 
Elemento 5  ( slavar e passar para a próxima pergunta )
============================*/

.salvar-mudancas {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--cor-verde-200);
  padding: 0.5rem;
  border-radius: 10px;
  font-size: x-large;
  cursor: pointer;
}

.salvar-mudancas:hover {
  transform: scale(1.1);
}

.cancelar-quizz {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--cor-azul-400);
  padding: 0.5rem;
  border-radius: 10px;
  font-size: x-large;
  cursor: pointer;
}
.cancelar-quizz:hover {
  transform: scale(1.1);
}
