.container {
  height: 100vh;
  width: 100vw;

  background-color: var(--cor-amarela-100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 90vw;
  height: 13%;
  padding: 0 5rem 0 3rem;

  background-color: none;

  display: flex;
  align-items: end;
  justify-content: space-between;
}

.logo-site {
  width: 7rem;
  position: fixed;
  top: 3px;
  left: calc(50% - 3.5rem);
}

.pikachu-correndo {
  height: 10%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(0%, -105%);
  animation: corrida-pikachu 3s linear infinite;
}

.container-login {
  height: 87vh;
  width: 90vw;
  padding: 1rem;
  margin-top: 4rem;

  background-color: var(--cor-roxo-300);
  border-radius: 60px;
  border: solid 5px var(--cor-preta-900);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.login-dados {
  height: 100%;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-login {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.linha-ou {
  height: 2rem;
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.linha {
  height: 2px;
  width: 35%;
  margin: 0 0.5rem 0 0.5rem;

  border: none;
  background-color: var(--cor-preta-900);
}

.input {
  height: 6%;
  width: 80%;
  margin: 0.5rem;
  padding: 1rem;

  border: none;
  border-radius: 6px;
}

.texto {
  font-family: "Schoolbell", cursive;
  font-size: 1.2rem;
}

.botao-entrar {
  width: 80%;
  height: 6.5%;
  border-radius: 15px;

  background-color: var(--cor-roxo-500);
  color: var(--cor-branca-100);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: large;
  font-family: "Lilita One";
}

.container-singin-with {
  width: 80%;
  height: auto;
  padding: 0.5rem 0.5rem 0.5rem 0;

  /* background-color: var(--cor-roxo-400); */

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.singin-with {
  width: 100%;
  height: 3rem;
  margin-bottom: 1.3rem;

  /* background-color: var(--cor-roxo-300); */

  display: flex;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;
}

.icon {
  height: 2.7rem;
  margin-right: 0.7rem;
}

.google-icon {
  padding: 0.3rem;

  background-color: white;

  border: 2px solid var(--cor-preta-900);
  border-radius: 100%;

  filter: brightness(1.5);
  filter: contrast(1.5);
}

.facebook-icon {
  filter: brightness(1.5);
  filter: contrast(1.5);
}

.container-cadastro {
  height: 15%;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cadastro {
  height: 50%;
  width: 90%;
  margin: 1rem 0 0 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.botao-cadastro {
  width: 50%;
  height: 100%;
  border-radius: 15px;

  background-color: var(--cor-azul-300);
  color: var(--cor-preta-900);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: large;
  font-family: "Lilita One";
}

.pessoa-cadastro {
  height: 100%;
}

.imagem-site {
  height: 90%;
  width: auto;

  border: solid 5px var(--cor-preta-900);
  border-radius: 50px;
}

@media screen and (max-width: 900px) {
  .imagem-site {
    display: none;
  }

  .login-dados {
    width: 100%;
  }

  .pikachu-correndo {
    display: none;
  }

  .container-login {
    height: 80vh;
  }
}

@media (min-width: 901px) {
}

@keyframes corrida-pikachu {
  0% {
    left: 0;
  }
  100% {
    left: 90%;
  }
}
