.container {
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  background-color: var(--cor-amarela-100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-site {
  height: calc(100vh - (85vh + 1rem));
  width: auto;
}

.container-pikachu {
  width: 100%;
  height: 10%;
  transform: translate(0%, -110%);

  position: absolute;
  top: 0;
  left: 0;
}

.arbusto-1 {
  height: 95%;
  width: auto;
  z-index: 99;

  background-color: var(--cor-amarela-100);

  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  transform: translate(40%);
}

.arbusto-2 {
  height: 95%;
  width: auto;
  z-index: 99;

  background-color: var(--cor-amarela-100);

  position: absolute;
  bottom: -1px;
  right: 0;

  display: block;
  transform: translate(-40%);
}

.pikachu-correndo {
  height: 100%;
  width: auto;

  position: absolute;
  top: 0;
  left: 0;

  transform: translate(50%, 1%);
  animation: corrida-pikachu linear infinite;
}

.container-login {
  height: 85vh;
  width: 90vw;
  padding: 0.5rem;
  margin: 0.5rem;

  background-color: var(--cor-roxo-300);
  border-radius: 60px;
  border: solid 5px var(--cor-preta-900);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.login-dados {
  height: 100%;
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.titulo-login {
  font-size: 3rem;
}

.linha-ou {
  height: 2rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.linha {
  height: 2px;
  width: 35%;
  margin: 0 0.5rem 0 0.5rem;

  border: none;
  background-color: var(--cor-preta-900);
}

.input {
  width: 80%;
}

.input-senha {
  height: 100%;
  width: 100%;
}

.container-input-senha {
  height: 2.4rem;
  width: 80%;
  position: relative;
  display: inline-flex;
  border: none;
  border-radius: 6px;
}

.mostrar-senha {
  position: absolute;
  height: 100%;
  width: 2.4rem;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pokebola {
  height: 65%;
  width: auto;
  cursor: pointer;
}

.erro {
  border: 2px solid var(--cor-vermelho-400);
  animation: shake 0.1s 3 ease;
}

.valido {
  border: 2px solid var(--cor-verde-400);
  animation: correto 0.2s ease;
}

.texto {
  font-family: "Schoolbell", cursive;
  font-size: 1.5rem;
}

.botao-entrar {
  width: 80%;
  max-height: 4rem;
  height: 10%;
  border-radius: 15px;

  background-color: var(--cor-roxo-500);
  color: var(--cor-branca-100);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: large;
  font-family: "Lilita One";
}

.botao-entrar:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.container-singin-with {
  width: 80%;
  height: auto;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.singin-with {
  width: 100%;
  height: 3rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  cursor: default;
}

.icon {
  height: 90%;
  margin-right: 0.7rem;

  cursor: pointer;
}

.icon:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.google-icon {
  padding: 0.3rem;

  background-color: white;

  border: 2px solid var(--cor-preta-900);
  border-radius: 100%;

  filter: brightness(1.5);
  filter: contrast(1.5);
}

.facebook-icon {
  filter: brightness(1.5);
  filter: contrast(1.5);
}

.container-cadastro {
  height: 15%;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-cadastro p {
  font-size: 1.4rem;
}

.cadastro {
  height: 70%;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.botao-cadastro {
  width: 50%;
  max-height: 4rem;
  height: 100%;
  border-radius: 15px;

  background-color: var(--cor-azul-300);
  color: var(--cor-preta-900);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: large;
  font-family: "Lilita One";
}

.botao-cadastro:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.pessoa-cadastro {
  height: 100%;
}

.imagem-site {
  height: 90%;
  width: auto;

  border: solid 5px var(--cor-preta-900);
  border-radius: 50px;
}

@media screen and (max-width: 900px) {
  .imagem-site {
    display: none;
  }

  .login-dados {
    width: 100%;
  }

  .pikachu-correndo {
    display: none;
  }

  .arbusto-1 {
    display: none;
  }

  .arbusto-2 {
    display: none;
  }

  .container-login {
    height: 80vh;
  }
}

@keyframes corrida-pikachu {
  0% {
    left: 0;
  }
  100% {
    left: 84%;
  }
}

@keyframes shake {
  0% {
    transform: skew(0deg, 0) scale(2);
  }
  20% {
    transform: skew(-20deg, -20deg) scale(2);
  }
  40% {
    transform: skew(20deg, 20deg) scale(2);
  }
  60% {
    transform: skew(-20deg, -20deg) scale(2);
  }
  80% {
    transform: skew(20deg, 20deg) scale(2);
  }
  100% {
    transform: skew(0deg, 0) scale(2);
  }
}

@keyframes correto {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
