/* SOBREPOR TUDO */
.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999999999 !important;
}

/* CAIXA DO MODAL */
.modal {
  width: 500px;
  background: white;
  padding: 25px;
  border-radius: 14px;
  position: relative;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);

  animation: fadeUp 0.25s ease-out;
}

/* ANIMAÇÃO */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.titulo {
  text-align: center;
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 700;
}

.resposta {
  background: #f1f1f1;
  padding: 14px;
}