.container {
  width: 90vw;
  height: 80vh;
  margin-top: 1rem;

  padding-left: 0.7rem;
  padding-right: 0.7rem;

  background-color: var(--cor-fundo4);

  border-radius: 15px;
}

.elementos {
  display: flex;
  height: 80%;
  margin-top: 2rem;
}
/* Titulo Perfil */
.titulo-perfil {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

/* Area do Nome e Foto do Usuário */

/* Foto */
.area-nome-foto {
  height: 100%;
  width: 30vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.foto-perfil {
  width: 60%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--cor-branca-100);
}

/* Nome */

.nome {
  display: flex;
  width: 18vw;
  cursor: default;
  height: 5vh;
  border: none;
  background-color: transparent;

  align-items: center;
  justify-content: center;
  font-family: "Lilita One", sans-serif;
}

.display {
  display: flex;
}

.nome-editavel {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
/* Área de Descrição*/

.area-descricao {
  height: 100%;
  width: 30vw;

  margin-right: 20px;
  margin-bottom: 2rem;
  background-color: var(--cor-roxo-500);
  border-radius: 15px;
}

/* Área de Historico*/
.area-historico {
  height: 100%;
  width: 30vw;

  background-color: var(--cor-roxo-500);
  border-radius: 15px;
}
