.tela-principal {
  height: 90%;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: none;
}

.logo {
  height: 20%;
  width: auto;
}

.quizzes {
  width: 100%;
  height: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.quizz {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}

.pessoa {
  height: 80%;
  cursor: default;
}
