/* Botões da NavBar */

/* Botão Inicio */

.linkClass {
  width: auto;
  text-align: center;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-radius: 10px;
}

.linkClass:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
  opacity: 1;
}

.amarelo {
  background-color: var(--cor-amarela-300);
}
.verde {
  background-color: var(--cor-verde-300);
}
.azul {
  background-color: var(--cor-azul-300);
}

.ativo {
  opacity: 1;
}
.inativo {
  opacity: 0.6;
}

.inicio-button1 {
  background-color: var(--cor-amarela-300);
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-radius: 10px;
  border: solid 3px black;
  opacity: 0.6;
}

.quizzes-button {
  background-color: var(--cor-verde-300);
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-radius: 10px;
  border: solid 3px black;
}

.quizzes-button1 {
  background-color: var(--cor-verde-300);
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-radius: 10px;
  border: solid 3px black;
  opacity: 0.6;
}

.criacao-button {
  background-color: var(--cor-azul-300);
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-radius: 10px;
  border: solid 3px black;
}

.criacao-button1 {
  background-color: var(--cor-azul-300);
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-radius: 10px;
  border: solid 3px black;
  opacity: 0.6;
}

.perfil-button {
  height: 65%;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 3px var(--cor-preta-900);
  background-color: var(--cor-roxo-300);
  border-radius: 100%;

  transition: 0.3s;
}

.perfil-button:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.ditto {
  width: auto;
  height: 3rem;
  padding: 0.3rem;
}

/* NavBar */

.NavBar {
  width: 95vw;
  height: 6rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);

  background-color: var(--cor-branca-100);
  border-radius: 15px;
}

/* Imagem */

.logo-quizzy {
  height: 90%;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-quizzy {
  width: auto;
  height: 100%;
}
