p{
  font-family: "Lilita One", sans-serif;
  font-size: 1.7rem;
  color: var(--cor-preta-900);
}

.inicio-button {
  background-color: var(--cor-amarela-200);
  padding: .2rem .3rem .2rem .3rem;
  border-radius: 10px;
  border: solid 3px black;
}


.NavBar {
  width: 90vw;
  height: 6rem;
  margin: 1rem;
  padding-left: .7rem;
  padding-right: .7rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--cor-branca-100);

  border: 2px solid var(--cor-preta-900);
  border-radius: 15px;
}

/* Imagem */

.logo-quizzy {
  height: 90%;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-quizzy {
  width: auto;
  height: 100%;
}

.perfil-button {
  height: 65%;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px var(--cor-preta-900);
  border-radius: 100%;
}

.ditto {
  width: auto;
  height: 3rem;}
