.container {
  height: 6rem;
  width: 6rem;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;

  background-color: var(--cor-cinza-100);
}

.container:hover {
  transform: scale(1.07);
}
